XTerm*termName: xterm-256color
XTerm*background: black
XTerm*foreground: white
XTerm*VT100.geometry: 95x40
XTerm*vt100.utf8: true
XTerm*cursorBlink: true
XTerm*visualBell: false
XTerm*scrollTtyOutput: false
XTerm*locale: true
XTerm*metaSendsEscape: true
XTerm*eightBitInput: true
XTerm*saveLines: 1024
XTerm*toolBar: false
XTerm.vt100.faceName: Droopy

Xft.dpi:       92
Xft.rgba:      none
Xft.hinting:   true
Xft.hintstyle: hintslight
Xft.antialias: 1

URxvt.depth: 32
URxvt.cursorBlink: true
URxvt.perl-ext:
URxvt.perl-ext-common:
URxvt.skipBuiltinGlyphs: true
!URxvt.letterSpace: 0
URxvt.scrollBar: false
!URxvt.scrollstyle: plain
!URxvt.scrollBar_right: true
URxvt.scrollColor: #383838
URxvt.troughColor: #1F1F1F
URxvt.scrollTtyOutput: false
URxvt.scrollTtyKeypress: true
URxvt.secondaryScroll: true
URxvt.saveLines: 4096
URxvt.geometry: 106x50
URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt.keysym.Control-Left:    \033[1;5D
URxvt.keysym.Control-Right:    \033[1;5C
URxvt.keysym.Control-BackSpace:    \033[1;H
!URxvt.keysym.Control-Delete:    \033^[[3^
URxvt.keysym.S-Up: command:\033]720;3\007
URxvt.keysym.S-Down: command:\033]721;3\007

URxvt*font: xft:droopy:Medium:autohint=false:size=12, \
		xft:mplus:Medium:autohint=false:size=12
URxvt*boldFont: xft:droopy:Bold:autohint=false:bold:size=12, \
		xft:mplus:Bold:autohint=false:size=12
URxvt*italicFont: xft:droopy:Medium:autohint=false:size=12, \
		xft:mplus:Medium:autohint=false:size=12
URxvt*boldItalicFont: xft:droopy:Bold:autohint=false:bold:size=12, \
		xft:mplus:Bold:autohint=false:size=12

!URxvt.cursorColor:  #dc74d1
!URxvt.pointerColor: #dc74d1
!muted
URxvt.background: [90]#171717
URxvt.foreground: #BFBFBF
!red
URxvt.color1:  #a66c6c
URxvt.color9:  #BF7C7C
!green
URxvt.color2:  #7aa674
URxvt.color10: #8DBF86
!yellow
URxvt.color3:  #a6906c
URxvt.color11: #BFA67C
!blue
URxvt.color4:  #6c8ba6
URxvt.color12: #7CA0BF
!magenta
URxvt.color5:  #a67c9b
URxvt.color13: #BF8FB3
!cyan
URxvt.color6:  #6ca697
URxvt.color14: #7CBFAE
!white
URxvt.color7:  #a6a6a6
URxvt.color15: #595959
!black
URxvt.color0:  #4D4D4D
URxvt.color8:  #4D4D4D

!!toned down
!!red
!URxvt.color1:  #b36262
!URxvt.color9:  #cc7070
!!green
!URxvt.color2:  #74b36b
!URxvt.color10: #84cc7a
!!yellow
!URxvt.color3:  #b39462
!URxvt.color11: #cca870
!!blue
!URxvt.color4:  #628db3
!URxvt.color12: #70a1cc
!!magenta
!URxvt.color5:  #a974b3
!URxvt.color13: #c085cc
!!cyan
!URxvt.color6:  #62b39e
!URxvt.color14: #70ccb4
!!white
!URxvt.color7:  #b3b3b3
!URxvt.color15: #cccccc
!!black
!URxvt.color0:  #171717
!URxvt.color8:  #595959
