:root {
	--tridactyl-font-family: Liberation Mono;
	--small-font-size: 12pt;
	--large-font-size: 14pt;
	--tridactyl-bg: #0D0D0D;
	--tridactyl-focused-bg: #050505;
	--tridactyl-focused-fg: #AD3D31;
	--tridactyl-fg: #BFBFBF;
	--tridactyl-url: #D9874C;
	--tridactyl-hint-fg: #FFC56B;
	--tridactyl-scrollbar-color: #131 var(--tridactyl-fg);

	/* Search highlight */
	--tridactyl-search-highlight-color: yellow;
	
	/* Hint character tags */
	--tridactyl-hintspan-font-family: var(--tridactyl-font-family);
	--tridactyl-hintspan-font-size: var(--small-font-size);
	--tridactyl-hintspan-font-weight: bold;
	--tridactyl-hintspan-fg: var(--tridactyl-hint-fg);
	--tridactyl-hintspan-bg: rgba(10, 10, 10, 0.8);
	--tridactyl-hintspan-border-color: black;
	--tridactyl-hintspan-border-width: 1px;
	--tridactyl-hintspan-border-style: solid;
	--tridactyl-hintspan-js-background: hsla(0, 0%, 65%);
	
	/* Element highlights */
	--tridactyl-hint-active-fg: none;
	--tridactyl-hint-active-bg: none;
	--tridactyl-hint-active-outline: none;
	
	--tridactyl-hint-bg: none;
	--tridactyl-hint-outline: 0px solid black;

	/*completions*/
	/* --tridactyl-cmplt-option-height: 1.5em; */
	--tridactyl-cmplt-fg: var(--tridactyl-fg);
	--tridactyl-cmplt-bg: var(--tridactyl-bg);
	--tridactyl-cmplt-font-family: var(--tridactyl-font-family);
	--tridactyl-cmplt-border-top: 1px solid black;

	/*commandline*/
	--tridactyl-cmdl-bg: var(--tridactyl-bg);
	--tridactyl-cmdl-fg: var(--tridactyl-fg);
	--tridactyl-cmdl-line-height: 1.2em;
	--tridactyl-cmdl-font-family: var(--tridactyl-font-family);
	--tridactyl-cmdl-font-size: var(--large-font-size);
	
	/*url style*/
	--tridactyl-url-text-decoration: none;
	--tridactyl-url-fg: var(--tridactyl-url);
	--tridactyl-url-bg: var(--tridactyl-bg);
	--tridactyl-url-cursor: pointer;
}

:root.TridactylOwnNamespace {
	scrollbar-color: var(--tridactyl-scrollbar-color);
	scrollbar-width: thin;
}

:root #completions .sectionHeader {
	display: none;
}

:root #tridactyl-colon::before {
	content: "]";
	font-size: var(--large-font-size);
}

:root #completions .focused,
:root #completions .focused .url {
	background: var(--tridactyl-focused-bg);
	color: var(--tridactyl-focused-fg);
	text-decoration: none;
}

:root #cmdline_iframe {
	position: fixed !important;
	bottom: unset;
	top: -2px !important;
	left: 0% !important;
	box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 4px !important;
	/* opacity: 0.9; */
}

:root body {
	border-bottom: 1px solid #050505;
}

:root #completions > div {
	max-height: calc(20 * var(--option-height));
	min-height: calc(20 * var(--option-height));
}

:root #completions table {
	white-space: nowrap;
	-webkit-mask-image: linear-gradient(to right, rgba(0,0,0,1) 97%, rgba(0,0,0,0));
}
