:root {
	/* Generic */
	--tridactyl-font-family: Monospace;
	--tridactyl-font-size: 12pt;
	--tridactyl-bg: #141414;
	--tridactyl-highlight: #C25C3C;
	--tridactyl-focused-bg: #2F2F2F;
	--tridactyl-fg: #E0D3B3;
	--tridactyl-url: #4988BF;
	--tridactyl-hint-fg: #FF774D;
	
	/* Hint character tags */
	--tridactyl-hintspan-font-family: var(--tridactyl-font-family);
	--tridactyl-hintspan-font-size: var(--tridactyl-font-size);
	--tridactyl-hintspan-font-weight: bold;
	--tridactyl-hintspan-fg: var(--tridactyl-hint-fg);
	--tridactyl-hintspan-bg: rgba(0, 0, 0, 0.7);
	--tridactyl-hintspan-border-color: black;
	--tridactyl-hintspan-border-width: 1px;
	--tridactyl-hintspan-border-style: solid;
	--tridactyl-hintspan-js-background: hsla(0, 0%, 65%);
	
	/* Element highlights */
	--tridactyl-hint-active-fg: none;
	--tridactyl-hint-active-bg: none;
	--tridactyl-hint-active-outline: none;
	
	--tridactyl-hint-bg: none;
	--tridactyl-hint-outline: 0px solid black;
	
	/* :viewsource */
	--tridactyl-vs-bg: var(--tridactyl-bg);
	--tridactyl-vs-fg: var(--tridactyl-fg);
	--tridactyl-vs-font-family: var(--tridactyl-font-family);
	
	/*commandline*/
	--tridactyl-cmdl-bg: var(--tridactyl-bg);
	--tridactyl-cmdl-fg: var(--tridactyl-fg);
	--tridactyl-font-size-cmdl: 1.30rem;
	--tridactyl-cmdl-line-height: 1.30em;
	--tridactyl-cmdl-font-family: var(--tridactyl-font-family);
	--tridactyl-cmdl-font-size: var(--tridactyl-font-size-cmdl);
	--tridactyl-cmdl-font-weight: 800;
	
	/*completions*/
	--tridactyl-cmplt-option-height: 1.60em;
	--tridactyl-cmplt-fg: var(--tridactyl-fg);
	--tridactyl-cmplt-bg: var(--tridactyl-bg);
	--tridactyl-cmplt-font-size: var(--tridactyl-font-size);
	--tridactyl-cmplt-font-family: var(--tridactyl-font-family);
	
	/*url style*/
	--tridactyl-url-text-decoration: none;
	--tridactyl-url-fg: var(--tridactyl-url);
	--tridactyl-url-bg: var(--tridactyl-bg);
	--tridactyl-url-cursor: pointer;
}

.TridactylOwnNamespace body {
	max-height: 500px;
	min-height: 500px;
}

:root #command-line-holder {
	order: 2;
	border-top: 1px solid black; /* cmdline top */
	background: var(--tridactyl-focused-bg);
}
:root #tridactyl-input {
	background: var(--tridactyl-focused-bg);
}

:root #completions {
	max-height: 470px;
	min-height: 470px;
	font-weight: 200;
}
:root #completions .sectionHeader {
	display: none;
}

:root #tridactyl-colon::before {
	content: " :";
	font-size: var(--tridactyl-font-size-cmdl);
}

:root #completions > div {
	max-height: 500px;
	min-height: 500px;
	padding: 5px;
}

:root #completions table {
	white-space: nowrap;
	-webkit-mask-image: linear-gradient(to right, rgba(0,0,0,1) 97%, rgba(0,0,0,0));
}

:root #completions table tr td.prefix,
:root #completions table tr td.privatewindow,
:root #completions table tr td.container {
	display: none;
}

:root #completions .focused,
:root #completions .focused .url {
	background: var(--tridactyl-focused-bg);
	color: var(--tridactyl-highlight);
	text-decoration: none;
}

:root #completions .SessionCompletionOption .extraInfo {
	color: var(--tridactyl-url);
}

:root #completions table tr .title {
	padding-left: 5px !important;
}

:root #cmdline_iframe {
	position: fixed !important;
	bottom: unset;
	/* opacity: 1; */
	top: 30% !important;
	left: 23% !important;
	width: 60% !important;
	z-index: 2147483647 !important;
	border: 1px solid black !important; /* around window */
	box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 5px !important;
}

:root #cmdline_iframe.cleanslate.hidden {
	display: none !important;
}
